<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>

    <%= erb(:facebook_guts, layout: false) %>

    <script type="text/javascript" src="https://raw.github.com/paperjs/paper.js/master/dist/paper.js"></script>
    <script type="text/javascript" src="https://raw.github.com/jashkenas/coffee-script/master/extras/coffee-script.js"></script>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>

    <%= erb(:facebook_header, layout: false) %>

    <section id="get-started">
      <div class="paperscript split">
        <script type="text/paperscript" canvas="canvas-1">
        // Create a new path once, when the script is executed:
        var myPath = new Path();
        myPath.strokeColor = 'black';

        // This function is called whenever the user
        // clicks the mouse in the view:
        function onMouseDown(event) {
            // If the path is empty, we need to add two segments
            // to the path. The first one will stay put,
            // and the second one will be moved while dragging.
            if (myPath.segments.length == 0) {
                myPath.add(event.point);
            }

            // Add a segment to the path at the position of the mouse:
            myPath.add(event.point);
        }

        function onMouseDrag(event) {
            // Move the last segment point of the path to the
            // current position of the mouse:
            myPath.lastSegment.point = event.point;
        }
        </script>
        <!--<script type='text/coffeescript' src="javascripts/hello.coffee" canvas="canvas-1"></script>-->
        <div class="canvas">
          <canvas height="310" width="708" style="background:#e4e1e1" id="canvas-1">
        </div>

      </div>
      <% if @user %>
        <div class="submit-drawing">
          <p>Don't be shy! Share your masterpiece with your DuelDraw friends!</p>
          <a href="#" class="button green" target="_self">Submit</a>
        </div>
      <% end %>
    </section>
  </body>
</html>