<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>

    <%= erb(:facebook_guts, layout: false) %>

    <script type="text/javascript" src="/javascripts/dueldraw.js"></script>

    <script type="text/javascript" src="https://raw.github.com/paperjs/paper.js/master/dist/paper.js"></script>
    <script type="text/javascript" src="https://raw.github.com/jashkenas/coffee-script/master/extras/coffee-script.js"></script>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>

    <%= erb(:facebook_header, layout: false) %>

    <section id="get-started">
      <div class="paperscript split">
        <script type="text/paperscript" canvas="canvas-1">
        //var canvas = document.getElementById('canvas-1');
        //var ctx = canvas.getContext("2d");
        //ctx.BeginPath();
        // Create a new path once, when the script is executed:
        tool.minDistance = 10;
        var path;
        
        function onMouseDown(event) {
            // Create a new path and give it a stroke color:
            path = new Path();
            path.strokeColor = '#000000';

            // Add a segment to the path where you clicked:
            path.add(event.point);
        }

        function onMouseDrag(event) {
            // Every drag event, add a segment
            // to the path at the position of the mouse:
            path.add(event.point);
        }
        </script>
        <div class="canvas">
          <h1 class="noun"><%= @noun %></h1>
          <canvas height="310" width="708" style="background:#e4e1e1" id="canvas-1">
        </div>

      </div>
      <% if @user %>
        <div class="submit-drawing">
          <p>Don't be shy! Share your masterpiece with your DuelDraw friends!</p>
          <a href="#" class="button green" target="_self">Submit</a>
        </div>
      <% end %>
    </section>
  </body>
</html>