<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>

    <%= erb(:facebook_guts, layout: false) %>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>

    <%= erb(:facebook_header, layout: false)

    <section id="get-started">
      <img src="images/duel_draw_splash.png" alt"Duel Draw" />
      <p class="buttons">
        <a href="/draw" target="_self" class="button black">Draw something</a>
        <a href="/vote" target="_self" class="button green">Vote on some drawings</a>
      </p>
    </section>
  </body>
</html>